html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Noto Sans", sans-serif;
  font-size: 10pt;
  color: #333;
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.title-bar {
  position: relative;
  width: 100%;
  padding: 15px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.title-bar-inner {
  width: 100%;
  display: flex;
}

.mobile-readonly-message {
  display: none;
  margin: -15px 0 15px 0;
}

.title-text {
  display: none;
  margin: 0;
  padding: 0;
}

.splitter {
  flex-grow: 1;
}

a {
  margin-left: 15px;
  color: #333;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.content {
  position: relative;
  padding: 10px 20px 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.measurements-body {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  visibility: hidden;
}

.measurements-body.loaded {
  visibility: visible;
}

.measurements-body p {
  padding: 10px;
  font-size: 9pt;
  text-align: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(235, 238, 240);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgb(207, 211, 214);
}

/* The goal is that the child div is always square, i.e. the height is equal to the width. */
.square-parent {
  position: relative;
  padding-bottom: 100%;
  height: 0;
}

.square-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}

@media all and (min-width: 640px) {
  .container {
    min-height: 90%;
  }
}

@media all and (min-height: 750px) {
  .measurements-body {
    max-width: 600px;
  }
}

@media all and (min-height: 1200px) {
  .measurements-body {
    max-width: 700px;
  }
}

@media all and (max-width: 520px) {
  .content {
    padding: 0 10px 10px 10px;
  }

  .title-bar {
    padding: 10px;
  }

  .title-text {
    display: block;
  }

  a {
    margin-left: 10px;
  }

  .mobile-readonly-message {
    font-size: 9pt;
    margin: 3px 0 5px 0;
    color: rgb(120, 120, 120);
  }
}

/*---------- Read-only if no mouse, DraftJS doesn't support touch yet. ----------*/

@media not all and (pointer: fine) {
  .mobile-readonly-message {
    display: block;
  }

  .measurement-layer .button-bar {
    display: none;
  }

  .measurement-layer,
  .measurement-layer-base .text,
  .measurement-layer-base .text-box,
  .measurement-layer-base .grabber-group,
  .measurement-layer-base .arrow-head-grabber,
  .measurement-layer-base .arrow-line-grabber,
  .measurement-layer-base .text-anchor.button-showing .delete-button,
  .measurement-layer-base .editable .delete-button {
    pointer-events: none;
  }
}
