html,
body,
.root {
  height: 100%;
  min-height: 100%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, sans-serif;
  font-size: 10pt;
  color: darkslategrey;  
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.measurements-body,
.title-bar {
  max-width: 500px;
}

.measurements-body {
  position: relative;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.measurements-body p {
  padding: 10px;
  font-size: 9pt;
  font-weight: bold;
  text-align: center;
  margin: 0;
  width: 100%;
  box-sizing: border-box;
  background-color: rgb(235, 238, 240);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: rgb(207, 211, 214);
}

/* The goal is that the child div is always square, i.e. the height is equal to the width. */
.square-parent {
  position: relative;
  padding-bottom: 100%;
  height: 0;
}

.square-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
} 

@media all and (min-width: 640px) {
  .container {
    min-height: 92%;
  }
}

@media all and (min-height: 750px) {
  .measurements-body,
  .title-bar {
    max-width: 600px;
  }
}

@media all and (max-width: 400px) {
  .content {
    padding: 10px;
  }
}