.title-bar-background {
  position: relative;
  width: 100%;
  padding: 10px 20px;
  background-color: rgb(250, 250, 250);
  border-color: #ebebe8;
  border-width: 0 0 1px 0;
  border-style: solid;
  box-sizing: border-box;
}

.title-bar {
  position: relative;
  margin: 0 auto;
  width: 100%;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.title-text {
  padding-left: 7px;
  cursor: default;
}

.react-measurements-icon-path {
  stroke: none;
  fill: #666666;
}

.title-links {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
}

.title-links a {
  margin-left: 15px;
  color: #333;  
  text-decoration: none;
}

.title-links a:hover {
  text-decoration: underline;
}

@media all and (max-width: 400px) {
  .title-bar-background {
    padding: 12px 10px;
  }

  .title-text {
    padding-left: 5px;
  }

  .title-links a {
    margin-left: 10px;
  }
}